<div class="row">
  <div class="col-md-7">
    

    <% unless flash[:notice].blank? %>
      <div class="alert alert-success">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>

    <h3>Favorite songs</h3>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @favorites %>
      </tbody>
    </table>
  </div>
</div>
