<tr>
  <td><%= link_to album.name, admin_album_path(album) %></td>
  <td><%= album.year %></td>
  <td>
  <div class="btn-group">
    <% if current_user.superadmin? || current_user.id == album.user_id %>
      <%= link_to 'Edit', edit_admin_album_path(album), class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Delete', admin_album_path(album), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
    <% end %>
    </div>
  </td>
</tr>
