<div class="row">
  <div class="col-md-6">
    <p><strong>Name:</strong></p>
    <p><%= @album.name %></p>
    <br>
    <p><strong>Artist:</strong></p>
    <p><%= @song.artist.name %></p>
    <br>
    <p><strong>Year:</strong></p>
    <p><%= @album.year %></p>
    <br>
  </div>
</div>
