<tr>
  <td><%= link_to artist.name, admin_artist_path(artist) %></td>
  <td>
    <div class="btn-group">
      <% if current_user.superadmin? || current_user.id == artist.user_id %>
        <%= link_to 'Edit', edit_admin_artist_path(artist), class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Delete', admin_artist_path(artist), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
      <% end %>
    </div>
  </td>
</tr>
