<div id="header">
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
          <span class="glyphicon glyphicon-chevron-left" style="color:white;"></span>
          </button>
      </div>
      <div id="page-content-wrapper">
        <% if user_signed_in? %>
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        <% end %>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <li><%= link_to 'Register', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
