<div id="header">
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
          <span class="glyphicon glyphicon-chevron-left" style="color:white;"></span>
          </button>
      </div>

      <ul class="nav navbar-nav pull-right">

        <li><%= link_to 'Login' %></li>
        <li><%= link_to 'Register' %></li>
        </ul>
      </div>
    </div>
  </div>
