<div id="main">
  <div class="header">
    <h1>My Tunes</h1>
    <h2>Your favorite tracks that go from the ears straight to the heart</h2>
  </div>
  <div class="content">
    <h2 class="content-subhead">Inspire yourself and listen to brand new hits!</h2>
    <p class="jumbotron">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="homepic">
    <button type="button" class="btn btn-link"><%= link_to 'Top 10 albums of 2017 ', trending_path %></button>
    <br>
    <%= image_tag("top.jpg") %>
  </div>
</div>
