<tr>
  <td><%= link_to playlist.name, tuner_playlist_path(playlist) %></td>
  <td>
  <div class="btn-group">
    <%= link_to 'Edit', edit_tuner_playlist_path(playlist), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Delete', tuner_playlist_path(playlist), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
    </div>
  </td>
</tr>
